
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<div>
    <h1>Add Policy</h1>
    <h3>@Html.ActionLink("Back to list", "Manage", "Policies")</h3>
    <form action="/Policies/AddPolicy" method="POST">
        <p>
            <label>Name</label>
            <input type="text" id="Name" name="Name"/>
        </p>
        <p>
            <label>Description</label>
            <input type="text" id="Description" name="Description"/>
        </p>
        <p>
            <label>Category</label>
            <input type="text" id="Category" name="Category"/>
        </p>
        <button class="btn btn-primary">Save</button>
    </form>
</div>


@section Admin {
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("HR Apply App", "Index", "Home", new { area = "" })</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Policies <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("View Policies", "Index", "Policies")</li>
                    <li>@Html.ActionLink("Manage Policies", "Manage", "Policies")</li>
                    <li>@Html.ActionLink("Manage Categories", "ManageCategory", "Policies")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Time Tracking <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Submit Time", "Index", "Time")</li>
                    <li>@Html.ActionLink("View Timesheet", "TimeSheet", "Time")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Admin", "Admin", "Home", new { area = "" }, null)</li>
        </ul>
    </div>

}


