@model HRApplyApp.UI.Models.PoliciesByCategoryVM

@{
    ViewBag.Title = "ManageCategory";
}

<h2>Choose a category to manage:</h2>

@using (Html.BeginForm("PoliciesByCategory", "Policies", FormMethod.Post))
{
    @Html.DropDownListFor(m => m.Category, new SelectList(Model.Polcatlist, "PolicyCategoryName", "PolicyCategoryName"), "Select a category")
    <button class="btn btn-danger">View policies in this category</button>
}

@section Admin {
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            @Html.ActionLink("HR Apply App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <li class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                <a href="#">Policies<span class="caret"></span></a>
            </li>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("View Policies", "Index", "Policies")</li>
                <li>@Html.ActionLink("Manage Policies", "Manage", "Policies")</li>
                <li>@Html.ActionLink("Manage Categories", "ManageCategory", "Policies")</li>
            </ul>
            <li>@Html.ActionLink("Admin", "Admin", "Home", new { area = "" }, null)</li>
        </ul>
    </div>

}