@model List<HrApplyApp.Models.Policy>

@{
    ViewBag.Title = "Manage";
}

<br/>
<h2>Manage Policies</h2>
<br/>

    @foreach (var pol in Model)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-6 col-xs-12">
                    <br />
                    <h3>Name : @pol.PolicyName</h3>
                    <p>Description : @pol.PolicyDescription</p>
                    <p>Category : @pol.Category</p>
                    @*<p>@Html.ActionLink("Edit", "Edit", "Policies", new { id = @pol.PolicyID }, null)</p>*@
                </div>
                    <div class="col-md-2 margin-top-20">
                        @using (Html.BeginForm("Edit", "Policies", FormMethod.Post))
                        {
                            @Html.Hidden("id", pol.PolicyID)
                            <input type="hidden" name="PolicyID" id="PolicyID" value="@pol.PolicyID" />
                            <button class="btn btn-danger">Edit</button>
                        }


                        @using (Html.BeginForm("Delete", "Policies", FormMethod.Post))
                        {
                            @Html.Hidden("id", pol.PolicyID)
                            <input type="hidden" name="PolicyID" id="PolicyID" value="@pol.PolicyID" />
                            <button class="btn btn-danger">Delete</button>
                        }
                    </div>
            </div>
            <hr />
        </div>
    }
@*<p>@Html.ActionLink("Add", "Add", "Policies")</p>*@
@using (Html.BeginForm("Add", "Policies", FormMethod.Post))
{
    <button class="btn btn-primary">Add new policy</button>
}


@section Admin {
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("HR Apply App", "Index", "Home", new { area = "" })</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Policies <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("View Policies", "Index", "Policies")</li>
                    <li>@Html.ActionLink("Manage Policies", "Manage", "Policies")</li>
                    <li>@Html.ActionLink("Manage Categories", "ManageCategory", "Policies")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Time Tracking <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Submit Time", "Index", "Time")</li>
                    <li class="disabled">@Html.ActionLink("View Timesheet", "Index", "Time")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Admin", "Admin", "Home", new { area = "" }, null)</li>
        </ul>
    </div>

}






