@model HRApplyApp.UI.Models.PoliciesByCategoryVM

@{
    ViewBag.Title = "PoliciesByCategory";
}

<h2>Policies under Category @Model.Category</h2>

@foreach (var pol in Model.Policies)
{
    <p>Policy Name : @pol.PolicyName</p>
    <p>Policy Description : @pol.PolicyDescription</p>
    <p>Policy Category : @pol.Category</p>
}


@section Admin {
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            @Html.ActionLink("HR Apply App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <li class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                <a href="#">Policies<span class="caret"></span></a>
            </li>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("View Policies", "Index", "Policies")</li>
                <li>@Html.ActionLink("Manage Policies", "Manage", "Policies")</li>
                <li>@Html.ActionLink("Manage Categories", "ManageCategory", "Policies")</li>
            </ul>

            @*<li class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown">
                <a href="#">Time Tracking<span class="caret"></span></a>
            </li>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Submit Time", "Index", "Policies")</li>
                <li>@Html.ActionLink("View Timesheet", "Index", "Policies")</li>
            </ul>*@
            <li>@Html.ActionLink("Admin", "Admin", "Home", new { area = "" }, null)</li>
        </ul>
    </div>

}
