@model HrApplyApp.Models.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Time Management</h2>
<br/>
<h4>Enter your ID to clock in/out : </h4>
<br/>
@using (Html.BeginForm("Index", "Time", FormMethod.Post))
{
    Html.ValidationSummary(true);
    <p>@Html.TextBoxFor(m => m.EmpID, new {style = "width:15%", placeholder = "Enter your ID"})</p>
    <br/>
    <button style="width: 15%;" class="btn btn-primary">Clock In/Out</button>

}

<br/>
<span id=tick2>
</span>

<script>

/*By JavaScript Kit
http://javascriptkit.com
Credit MUST stay intact for use
*/

    function show2() {
        if (!document.all && !document.getElementById)
            return
        thelement = document.getElementById ? document.getElementById("tick2") : document.all.tick2;
        var Digital = new Date();
        var hours = Digital.getHours();
        var minutes = Digital.getMinutes();
        var seconds = Digital.getSeconds();
        var dn = "PM";
        if (hours < 12)
            dn = "AM";
        if (hours > 12)
            hours = hours - 12;
        if (hours == 0)
            hours = 12;
        if (minutes <= 9)
            minutes = "0" + minutes;
        if (seconds <= 9)
            seconds = "0" + seconds;
        var ctime = hours + ":" + minutes + ":" + seconds + " " + dn;
        thelement.innerHTML = "<b style='font-size:20;color:blue;font-family:Verdana;'>" + ctime + "</b>";
        setTimeout("show2()", 1000);
    }

    window.onload = show2;

</script>
<br/>

@section Admin {
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("HR Apply App", "Index", "Home", new { area = "" })</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Policies <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("View Policies", "Index", "Policies")</li>
                    <li>@Html.ActionLink("Manage Policies", "Manage", "Policies")</li>
                    <li>@Html.ActionLink("Manage Categories", "ManageCategory", "Policies")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Time Tracking <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Submit Time", "Index", "Time")</li>
                    <li class="disabled">@Html.ActionLink("View Timesheet", "Index", "Time")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Admin", "Admin", "Home", new { area = "" }, null)</li>
        </ul>
    </div>

}