@model HRApplyApp.UI.Models.TimeVM

@{
    ViewBag.Title = "Index";
}

<h2>Time Management</h2>

@using (Html.BeginForm("SubmitTime", "Time", FormMethod.Post))
{
    <div class="row">
        <div class="form-group">
            <label class="label label-default">Select Employee</label>
            @Html.DropDownList("EmpID", Model.Employees, "(select)", new {@class = "dropdown", @id = "inputEmployee"})
        </div>
        <div class="form-group">
            <label class="label label-default">Day Worked</label>
            <input id="theDate" type="text" name="DateWorked"/>
        </div>
        <div class="form-group">
            <label class="label label-default">Hours Worked</label>
            <input id="hoursWorkedInputField" type="number" step="any" min="0" max="16" name="HoursWorked"/>
        </div>
        <button class="btn btn-primary">Submit</button>
    </div>
}

@section Admin {
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("HR Apply App", "Index", "Home", new { area = "" })</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Policies <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("View Policies", "Index", "Policies")</li>
                    <li>@Html.ActionLink("Manage Policies", "Manage", "Policies")</li>
                    <li>@Html.ActionLink("Manage Categories", "ManageCategory", "Policies")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Time Tracking <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Submit Time", "Index", "Time")</li>
                    <li>@Html.ActionLink("View Timesheet", "TimeSheet", "Time")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Admin", "Admin", "Home", new { area = "" }, null)</li>
        </ul>
    </div>

}

@section Scripts{
    <script src="/Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="/Scripts/app/datePicker.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
}