@model List<HrApplyApp.Models.Employee>
@{
    ViewBag.Title = "TimeSheet";
}

<h2>TimeSheet</h2>

@foreach (var employee in Model)
{
    <div class="row">
        <div class="panel panel-primary">
            <div class="col-md-2 col-xs-3">
                <br />
                <p>@employee.EmpID</p>
            </div>
            <div class="col-md-2 col-xs-3">
                <br />
                <p>@employee.FirstName @employee.LastName</p>
            </div>
            <div class="col-md-2 col-xs-3">
                <br/>
                @foreach (var timeSheet in employee.TimeRecords)
                {
                    <p>Date : @timeSheet.DateWorked.ToShortDateString()</p>
                }
            </div>
            <div class="col-md-2 col-xs-3">
                <br />
                @foreach (var timeSheet in employee.TimeRecords)
                {
                    <p>Hours Worked : @timeSheet.HoursWorked</p>
                }
            </div>
        </div>
    </div>
}

@section Admin {
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("HR Apply App", "Index", "Home", new { area = "" })</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Policies <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("View Policies", "Index", "Policies")</li>
                    <li>@Html.ActionLink("Manage Policies", "Manage", "Policies")</li>
                    <li>@Html.ActionLink("Manage Categories", "ManageCategory", "Policies")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Time Tracking <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Submit Time", "Index", "Time")</li>
                    <li>@Html.ActionLink("View Timesheet", "TimeSheet", "Time")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Admin", "Admin", "Home", new { area = "" }, null)</li>
        </ul>
    </div>

}