<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Home" class="navbar-brand"> <img alt="The Software Guild" src="http://softwareguild.wpengine.com/wp-content/uploads/swg_logo-white.png" width="250" /></a>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @Html.ActionLink("HR Apply App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                    <li class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><a href="#">Policies<span class="caret"></span></a>                        
                    </li>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("View Policies", "Index", "Policies")</li>
                        <li>@Html.ActionLink("Manage Policies", "Admin", "Home")</li>
                        <li>@Html.ActionLink("Manage Categories", "Admin", "Home")</li>
                    </ul>
                    <li>@Html.ActionLink("Admin", "Admin", "Home", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    @*<div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Policies
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">View Policies</a></li>
            <li><a href="#">Manage Policies</a></li>
            <li><a href="#">Manage Categories</a></li>
        </ul>
    </div>*@
    <div id="wrap" class="body-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h2>Start your application today!</h2>
                    <p>
                        Fill out the adjacent form as the first step of your application.
                        A member of our enrollment team will reach out to you to ask you some additional question, answer any questions you may have, and help you learn more about The Software Guild.
                        Then, you will be asked to complete the essay portion of the application and aptitude test. If you have questions and are not ready to apply, please fill out our contact form.
                    </p>
                </div>

                <div class="container">
                    <div class="col-md-offset-3 col-md-5 col-xs-12">
                        @RenderBody()
                    </div>
                </div>
               <br />
            </div>
        </div>

        <div id="prefooter" class="row">
            <div class="no-container">
                <div class="col-md-4 col-xs-12">
                    <h6>Menu</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Become an Employer</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Press Releases</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h6>Locations</h6>
                    <ul>
                        <li><a href="#">Akron</a></li>
                        <li><a href="#">Louisville</a></li>
                        <li><a href="#">Minneapolis</a></li>
                        <li><a href="#">Online</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h6>ABOUT SOFTWARE GUILD</h6>
                    <p>By focusing on the languages companies want, with real-world curriculum taught by experienced master instructors, apprentices graduate from The Software Guild with relevant, employable skills. A choice of locations or online programs offer options that are designed to help apprentices succeed.</p>
                </div>
            </div>
        </div>
            <footer class="no-container">                 
                        <p style="color: #676767">Copyright &copy; @DateTime.Now.Year The Software Guild. All rights reserved.</p>            
            </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>