@model HrApplyApp.Models.Resume

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class=" col-md-4 col-xs-12">
            <br />
            <h2>Your career is waiting.</h2>
            <h1>START YOUR APPLICATION!</h1>
            <p id="ApplyDescription">
                Fill out the adjacent form as the first step of your application.
                A member of our enrollment team will reach out to you to ask you some additional question, answer any questions you may have, and help you learn more about The Software Guild.
                Then, you will be asked to complete the essay portion of the application and aptitude test. If you have questions and are not ready to apply, please fill out our contact form.
            </p>
            <br />
            <hr />
        </div>
        <div class="col-md-8 col-xs-12">
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Application Process</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
                                <span class="sr-only">33% Complete (danger)</span>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
                <div style="background-color: white; box-shadow: 0 0 5px darkgrey;" class="container">
                    <br />
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true)
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>First Name: *  @Html.ValidationMessageFor(m => m.FirstName)</h6>
                                    <p>@Html.TextBoxFor(m => m.FirstName, new { style = "width:100%", placeholder = "First Name" })</p>
                                </div>
                                <div class="col-md-6">
                                    <h6>Last Name: * @Html.ValidationMessageFor(m => m.LastName)</h6>
                                    <p>@Html.TextBoxFor(m => m.LastName, new { style = "width:100%", placeholder = "Last Name" })</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Email: * @Html.ValidationMessageFor(m => m.Email)</h6>
                                    <p>@Html.TextBoxFor(m => m.Email, new { style = "width:100%", placeholder = "Email Address" })</p>
                                    <h6>Confirm Email: * @Html.ValidationMessageFor(m => m.ConfirmEmail)</h6>
                                    <p>@Html.TextBoxFor(m => m.ConfirmEmail, new { style = "width:100%", placeholder = "Confirm Email" })</p>
                                </div>
                                <div class="col-md-6">
                                    <h6>Phone Number: * @Html.ValidationMessageFor(m => m.PhoneNumber)</h6>
                                    <p>@Html.TextBoxFor(m => m.PhoneNumber, new { style = "width:100%", placeholder = "Phone e.g. (555-555-5555)" })</p>
                                    <h6>Skype Name: </h6>
                                    <p>@Html.TextBoxFor(m => m.SkypeName, new { style = "width:100%", placeholder = "Skype Name" })</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xs-12">
                                    <h6>Address: * @Html.ValidationMessageFor(m => m.StreetAddress)</h6>
                                    <p>@Html.TextBoxFor(m => m.StreetAddress, new { style = "width:100%", placeholder = "Street Address" })</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>City: * @Html.ValidationMessageFor(m => m.City)</h6>
                                    <p>@Html.TextBoxFor(m => m.City, new { style = "width:100%", placeholder = "City" })</p>
                                </div>
                                <div class="col-md-6">
                                    <h6>State: * @Html.ValidationMessageFor(m => m.State)</h6>
                                    <p> @Html.TextBoxFor(m => m.State, new { style = "width:100%", placeholder = "State" })</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Zip Code: * @Html.ValidationMessageFor(m => m.Zipcode)</h6>
                                    <p>@Html.TextBoxFor(m => m.Zipcode, new { style = "width:100%", placeholder = "Zipcode" })</p>
                                </div>
                                <div class="col-md-6">
                                    <h6>Country: * @Html.ValidationMessageFor(m => m.Country)</h6>
                                    <p>@Html.TextBoxFor(m => m.Country, new { style = "width:100%", placeholder = "Country" })</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h6>Work History: * @Html.ValidationMessageFor(m => m.WorkHistory)</h6>
                                    <p>@Html.TextBoxFor(m => m.WorkHistory, new { style = "width:100%", placeholder = "Work History" })</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h6>Education: * @Html.ValidationMessageFor(m => m.Education)</h6>
                                    <p>@Html.TextBoxFor(m => m.Education, new { style = "width:100%", placeholder = "Education" })</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Position Applying for: </h6>
                                    <p>@Html.TextBoxFor(m => m.Position, new { style = "width:100%", placeholder = "Position" })</p>
                                </div>
                                <div class="col-md-6">
                                    <h6>Desired Salary: </h6>
                                    <p>@Html.TextBoxFor(m => m.Salary, new { style = "width:100%", placeholder = "Desired Salary" })</p>
                                </div>
                                <button style="width: 100%;" class="btn btn-danger">Apply Now</button>
                                <br />
                                <br />
                            </div>
                        </div>
                    }
                </div>
         </div>
    </div>
</div>